html{
  font-size: 18px;
  font-family: Helvetica;
}
.sitecontainer{
  display: flex;
  align-items: center;  
  max-width: 960px;
  margin:0 auto;
}
.sc{
  background-color:black;
}
header span{
  color: white;
  font-family: Helvetica;
  font-size:1rem;
}
.logoimg{
  padding-left:0.5rem;
  padding-right: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  height: 1.5rem;
}
.na{
  font-family: Helvetica;
  font-weight: bold;
  font-size:1rem;
}
.title{
  font-family: Helvetica;
  font-weight: bold;
  font-size:2rem;
}
.maintitle{
  background-color:black;
  color:white;
  width:20rem;
  padding: 2rem 3rem;
  top:9rem;
  position:relative;
  max-width:960px;
}
.main{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
height:25rem;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
.main2{
  max-width: 960px;
  margin:0 auto;
}
.ul{
  padding: 0.75rem;
  color:white;
  font-family: Helvetica;
  list-style-type: none;
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin: 0 auto;
}
.menu{
  background-color:firebrick;
}

.m{
  max-width: 960px;
  margin:0px auto;
}
